 .main-container {
  display: flex;
  flex-direction: column;
 }

 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px
 }

 .nav-bar {
  padding: 10px;
  background-color: black;
  color: white;
 }

 .dessert-field {
  display: flex;
  margin: 10px;
 }

 .btn {
  border: 2px solid black;
  padding: 3px 10px 3px 10px;
 }

 .select-block {
  background-color: #008080
 }
 