.header {
    color: rgba(175, 47, 47, 0.2);
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
}

.todo-container {
    display: flex;
    flex-direction: column;
}

.todo-block {
    display: flex;
    border-bottom: 1px solid lightgrey;
}



.user-input {
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 2px;
    font-size: 24px;
    color: #4d4d4d;
    padding: 10px;
    text-align: center;
}

.paper {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.input-text:disabled {
    text-decoration: line-through
}


.input-text {
    border: none;
    border-radius: 2px;
    font-size: 24px;
    color: #4d4d4d;
    padding: 10px;
    text-align: center;
}

.input-text:hover {
    border: 1px solid black;
    width: 80%;
}

.Todos:hover {
    border: 2px solid rgba(175, 47, 47, 0.2);
}

.todo-filters {
    display: flex;
    justify-content: space-between;
    border: 1px #4d4d4d;
    color: #777777;
    font-size: 14px;
    width: 80%;
}


.check-box {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: #f5f5f5;

}

.remove-btn {
    border-color: white;
}
